<div class="hero">
  <h1 class="hero__title">Example Rails Frontend application</h1>
  <p class="hero__description">An app that shows how GOV.UK Frontend packages are consumed &amp; used in a Ruby on Rails environment.</p>
</div>

<br><br>

<button class="button">Button</button>

<br><br>

<div class="form-section">
  <!-- "Chunky" Checkboxes, stacked -->
  <h3>Which types of waste do you transport regularly?</h3>
  <p>Select all that apply</p>

  <%= render partial: "partials/checkbox_field", locals: {
    name: "waste-types",
    legend: "Which types of waste do you transport regularly?",
    options: [
      {id: "waste-type-1", value: "waste-animal", label: "Waste from animal carcasses" },
      {id: "waste-type-2", value: "waste-mines", label: "Waste from mines or quarries" },
      {id: "waste-type-3", value: "waste-farm-agricultural", label: "Farm or agricultural waste" }
    ]
  } %>
</div>
