<div class="hero">
  <h1 class="hero__title">Example Rails Frontend application</h1>
  <p class="hero__description">An app that shows how GOV.UK Frontend packages are consumed &amp; used in a Ruby on Rails environment.</p>
</div>
