<!DOCTYPE html>
<html>
<head>
  <title>FrontendTool</title>
  <%= stylesheet_link_tag    "frontend_tool/application", media: "all" %>
  <%= javascript_include_tag "frontend_tool/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
