/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/** Settings */
@import "frontend_tool/settings/colours";
@import "frontend_tool/settings/measurements";

/** Tools */
@import "frontend_tool/tools/grid_layout";
@import "frontend_tool/tools/typography";

@import "frontend_tool/components/buttons";

@import 'elements/buttons';
@import 'elements/forms/form-block-labels';

.app-container {
  @extend %site-width-container;

  padding: $gutter 0;
}

.hero {
  padding: $gutter;
  background: $govuk-blue;
  color: $white;

  &__title {
    @include bold-48();
  }

  &__description {
    @include copy-19();
  }
}
